<!DOCTYPE html>
<html  xmlns:th="http://thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

   <meta charset='utf-8'>
	<title>EventosApp</title>
	<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      
      <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
	 <link type="text/css" rel="stylesheet" href="static/assets/style.css"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>



	<header>
	   <nav class="nav-extended">
	    <div class="nav-wrapper light-blue darken-4 ">
	      <a href="#" class="brand-logo left ">Listagem de eventos</a>
	      
  			<ul id="nav-mobile" class="tab right hide-on">
	        <li><a href="/eventos">Lista de eventos</a></li>
	        <li><a href="/cadastrarEvento">Cadastro de eventos</a></li>
	      </ul>
	      </div>
	  	</nav>
	</header>



	<div th:each="evento : ${evento}" class="container ">
		<div>
			<p><strong>Nome do evento: </strong><span th:text="${evento.nome}"></span></p>
			<p><strong>Localdo evento: </strong><span th:text="${evento.local}"></span></p>
			<p><strong>Data do Evento: </strong><span th:text="${evento.data}"></span></p>
			<p><strong>Horário do evento: </strong><span th:text="${evento.horario}"></span></p>
		</div>
		
		<span><strong><h5>Cadastro de convidados:</h5></strong></span>
		 <th:block th:include="~{mensagemValidacao}"></th:block> 
		
		
		
	<form method="post" class="col s12">
			 
		
		  <div class="row">
	        <div class="input-field col s5">
	          <i class="material-icons prefix">account_circle</i>
	          <input id="icon_prefix" type="text" class="validate" name="nomeConvidado">
	          <label for="icon_prefix">Name: </label>
	        </div>
	      </div>
	      
	      <div class="row">
	        <div class="input-field col s5">
	          <i class="material-icons prefix">phone</i>
	          <input id="icon_telephone" type="tel" class="validate" name="telefone">
	          <label for="icon_telephone">Telefone: </label>
	        </div>
	      </div>
	      
	      <div class="row">
	        <div class="input-field col s5">
	          <i class="material-icons prefix">account_box</i>
	          <input id="icon_telephone" type="tel" class="validate" name="cpf">
	          <label for="icon_telephone">Cpf: </label>
	      </div>
	    </div>
	    	      
	<button class="waves-effect waves-light btn light-blue darken-4" type="submit">Adicionar convidados</button>
    </div>
    </form>		

	
	<div class="col s12 m6">
	<h5>Lista de Convidados:</h5>
	
      <table class="striped" >
        <thead>
          <tr>
              <th>Name</th>
              <th>Telefone</th>
          </tr>
        </thead>

        <tbody>
          <tr th:each="convidado : ${convidados}">
            <td th:text="${convidado.nomeConvidado}"></td>
            <td th:text="${convidado.telefone}"></td>
          </tr>
        </tbody>
      </table>
	
 
			<div class="footer-copyright">
            <div class="container center">
             © 2022 - Gabriel Lima Martins           
            </div>
          </div>      
	
	</div>
	
	
	
 <!--JavaScript at end of body for optimized loading-->
 <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
</body>

</html>